 
    .product-image-wrapper { 
      display: flex; 
      flex-wrap: wrap; 
      gap: 24px;
  } 
  
  

  body ::-webkit-scrollbar { 
      width: 4px; 
      height: 4px;
  } 
  
  body ::-webkit-scrollbar-thumb { 
      background-color: darkgrey;
  } 
  
  body ::-webkit-scrollbar-track { 
      background: rgba(0,0,0,.14);
  } 
  
  .product-image-wrapper .item-1  { 
      width: 100%; 
      max-width: 280px; 
      padding: 0;
  } 
  
  
  
  .product-image-wrapper .item-2  { 
      width: 0; 
      flex: unset!important; 
      flex-grow: 1!important; 
      padding: 0; 
      max-width: 100%;
  } 
  
  .col-md-9 { 
      position: relative; 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px;
  } 
  
  @media (min-width: 768px){ 
    .col-md-9 { 
      -ms-flex: 0 0 75%; 
      flex: 0 0 75%; 
      max-width: 75%;
    } 
  }     
  
  .card { 
      position: relative; 
      display: -ms-flexbox; 
      display: flex; 
      -ms-flex-direction: column; 
      flex-direction: column; 
      min-width: 0; 
      word-wrap: break-word; 
      background-color: #fff; 
      background-clip: border-box; 
      border: .0625rem solid rgba(231, 234, 243, .7); 
      border-radius: .75rem;
  } 
  
  .h-100 { 
      height: 100% !important;
  } 
  
  .card { 
      box-shadow: 0 6px 12px rgba(140, 152, 164, .075);
  } 
  
  .card { 
      border-color: #f4f4f4; 
      box-shadow: 0 5px 10px rgba(51,66,87,.05); 
      transition: all .3s ease;
  } 
  
  .card:hover { 
      box-shadow: 0 5px 24px rgba(7,59,116,.15);
  } 
  
  .card-body { 
      -ms-flex: 1 1 auto; 
      flex: 1 1 auto; 
      min-height: 1px; 
      padding: 1.3125rem;
  } 
  
  .d-flex { 
      display: -ms-flexbox !important; 
      display: flex !important;
  } 
  
  .justify-content-between { 
      -ms-flex-pack: justify !important; 
      justify-content: space-between !important;
  } 
  
  .align-items-center { 
      -ms-flex-align: center !important; 
      align-items: center !important;
  } 
  
  .mb-3 { 
      margin-bottom: 1rem !important;
  } 
  
  .gap-2 { 
      gap: 8px;
  } 
  
  .mb-2 { 
      margin-bottom: .5rem !important;
  } 
  
  p { 
      margin-top: 0; 
      margin-bottom: 1rem;
  } 
  
  .text-muted { 
      color: #8c98a4 !important;
  } 
  
  .row { 
      display: -ms-flexbox; 
      display: flex; 
      -ms-flex-wrap: wrap; 
      flex-wrap: wrap; 
      margin-right: -15px; 
      margin-left: -15px;
  } 
  
  .mb-4 { 
      margin-bottom: 1.5rem !important;
  } 
  
  .g-2 { 
      margin-left: -.4375rem; 
      margin-right: -.4375rem;
  } 
  
  .g-2 { 
      margin-top: -.5rem; 
      margin-bottom: -.5rem;
  } 
  
  .form-group { 
      margin-bottom: 1.5rem;
  } 
  
  .image-uploader { 
      --aspect-ratio: 1; 
      overflow: hidden; 
      position: relative; 
      block-size: 180px; 
      max-inline-size: 100%; 
      border-radius: .5rem; 
      cursor: pointer; 
      aspect-ratio: var(--aspect-ratio); 
      border: 2px dashed #e5e5e5;
  } 
  
  .mt-2 { 
      margin-top: .5rem !important;
  } 
  
  .fz-12 { 
      font-size: 12px!important;
  } 
  
  .custom_upload_input { 
      position: relative;
  } 
  
  .product-image-wrapper .item-1 .custom_upload_input  { 
      max-width: 214px;
  } 
  
  label { 
      display: inline-block; 
      margin-bottom: .5rem;
  } 
  
  label { 
      text-transform: capitalize;
  } 
  
  .mb-0 { 
      margin-bottom: 0 !important;
  } 
  
  .text-capitalize { 
      text-transform: capitalize !important;
  } 
  
  .font-weight-bold { 
      font-weight: 600 !important;
  } 
  
  .title-color { 
      color: var(--title-color);
  } 
  
  .input-label-secondary { 
      color: #8c98a4; 
      font-size: .8125rem; 
      margin-left: .25rem;
  } 
  
  .cursor-pointer { 
      cursor: pointer;
  } 
  
  .col-12 { 
      position: relative; 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px;
  } 
  
  .col-12 { 
      -ms-flex: 0 0 100%; 
      flex: 0 0 100%; 
      max-width: 100%;
  } 
  
  .g-2 > *  { 
      padding-left: .5rem; 
      padding-right: .5rem;
  } 
  
  .g-2 > *  { 
      padding-top: .5rem; 
      padding-bottom: .5rem;
  } 
  
  .mb-1 { 
      margin-bottom: .25rem !important;
  } 
  
  input { 
      margin: 0; 
      font-family: inherit; 
      font-size: inherit; 
      line-height: inherit;
  } 
  
  input { 
      overflow: visible;
  } 
  
  .image-uploader__zip { 
      position: absolute; 
      inline-size: 100%; 
      block-size: 100%; 
      opacity: 0; 
      cursor: pointer; 
      z-index: 2; 
      inset: 0;
  } 
  
  .image-uploader__zip-preview { 
      display: flex; 
      align-items: center; 
      flex-direction: column; 
      justify-content: center; 
      inline-size: 100%; 
      block-size: 100%; 
      background-color: var(--bg-3); 
      text-align: center; 
      gap: 10px; 
      padding: 10px;
  } 
  
  .btn { 
      display: inline-block; 
      font-weight: 400; 
      color: #677788; 
      text-align: center; 
      vertical-align: middle; 
      -webkit-user-select: none; 
      -moz-user-select: none; 
      -ms-user-select: none; 
      user-select: none; 
      background-color: transparent; 
      border: .0625rem solid transparent; 
      padding: .54688rem .875rem; 
      font-size: .875rem; 
      line-height: 1.6; 
      border-radius: .3125rem; 
      transition: all .2s ease-in-out;
  } 
  
  .btn-outline-danger { 
      color: #ed4c78; 
      border-color: #ed4c78;
  } 
  
  .btn-sm { 
      padding: .4375rem .65625rem; 
      font-size: .8125rem; 
      line-height: 0.5; 
      border-radius: .25rem;
  } 
  
  .btn { 
      position: relative;
  } 
  
  .square-btn { 
      width: 30px; 
      height: 30px; 
      padding: 3px; 
      display: grid; 
      place-items: center;
  } 
  
  .collapse:not(.show) { 
      display: none;
  } 
  
  .image-uploader .zip-remove-btn  { 
      position: absolute; 
      right: 16px; 
      top: 16px; 
      z-index: 4; 
      padding-top: 7px;
  } 
  
  .btn:not(:disabled):not(.disabled) { 
      cursor: pointer;
  } 
  
  .btn:hover { 
      color: #677788; 
      text-decoration: none;
  } 
  
  .btn-outline-danger:hover { 
      color: #fff; 
      background-color: #ed4c78; 
      border-color: #ed4c78;
  } 
  
  .badge { 
      display: inline-block; 
      padding: .3125em .5em; 
      font-size: 75%; 
      font-weight: 600; 
      line-height: 1; 
      text-align: center; 
      white-space: nowrap; 
      vertical-align: baseline; 
      border-radius: .3125rem; 
      transition: all .2s ease-in-out;
  } 
  
  .badge-soft-info { 
      color: #00c9db; 
      background-color: rgba(0, 201, 219, .05);
  } 
  
  .badge-soft-info  { 
      color: #1455ac; 
      border-radius: 5px; 
      /* border: 1px solid rgba(20,85,172,.2);  */
      background: #e9f3ff;
  } 
  
  .custom_upload_input input[type="file"]  { 
      display: block; 
      width: 100%; 
      padding: 0; 
      aspect-ratio: 1; 
      -webkit-appearance: none; 
      -moz-appearance: none; 
      appearance: none; 
      background-color: #f7f7f7; 
      border: 0; 
      border-radius: 5px; 
      opacity: 0; 
      z-index: 9; 
      position: relative; 
      cursor: pointer;
  } 
  
  .custom_upload_input .delete_file_input  { 
      content: ""; 
      position: absolute; 
      top: 20px; 
      right: 20px; 
      width: 30px; 
      height: 30px; 
      font-size: 15px; 
      justify-content: center; 
      align-items: center; 
      display: none; 
      cursor: pointer; 
      color: red; 
      border: 1px solid red; 
      z-index: 10;
  } 
  
  .custom_upload_input .delete_file_input:not(.d--none)  { 
      display: flex;
  } 
  
  .custom_upload_input .delete_file_input:hover { 
      color: #fff; 
      border: 1px solid red; 
      z-index: 10;
  } 
  
  .position-absolute { 
      position: absolute !important;
  } 
  
  .img_area_with_preview { 
      position: absolute; 
      top: 0; 
      bottom: 0; 
      left: 0; 
      height: 100%; 
      width: 100%; 
      overflow: hidden; 
      border: 2px dashed #00000014; 
      border-radius: 5px; 
      padding: 5px;
  } 
  
  .z-index-2 { 
      z-index: 2;
  } 
  
  .justify-content-center { 
      -ms-flex-pack: center !important; 
      justify-content: center !important;
  } 
  
  .align-content-center { 
      -ms-flex-line-pack: center !important; 
      align-content: center !important;
  } 
  
  .w-100 { 
      width: 100% !important;
  } 
  
  .top-0 { 
      top: 0 !important;
  } 
  
  img { 
      vertical-align: middle; 
      border-style: none;
  } 
  
  img { 
      max-width: 100%;
  } 
  
  .col-md-4,.col-sm-12 { 
      position: relative; 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px;
  } 
  
  @media (min-width: 576px){ 
    .col-sm-12 { 
      -ms-flex: 0 0 100%; 
      flex: 0 0 100%; 
      max-width: 100%;
    } 
  }     
  
  @media (min-width: 768px){ 
    .col-md-4 { 
      -ms-flex: 0 0 33.33333%; 
      flex: 0 0 33.33333%; 
      max-width: 33.33333%;
    } 
  }     
  
  .product-image-wrapper .item-2 .col-md-4  { 
      max-width: 206px; 
      min-width: 175px;
  } 
  
  .mx-auto { 
      margin-right: auto !important;
  } 
  
  .mx-auto { 
      margin-left: auto !important;
  } 
  
  .image-uploader__zip-preview img  { 
      width: 40px; 
      height: 40px; 
      -o-object-fit: contain; 
      object-fit: contain;
  } 
  
  .line--limit-2 { 
      display: -webkit-box; 
      -webkit-box-orient: vertical; 
      -webkit-line-clamp: 2; 
      overflow: hidden; 
      text-overflow: ellipsis;
  } 
  
  [class^="tio-"] { 
      font-family: the-icon-of!important; 
      font-size: 1.125em; 
      speak: none; 
      font-style: normal; 
      font-weight: 400; 
      font-variant: normal; 
      text-transform: none; 
      line-height: 1; 
      letter-spacing: 0; 
      -webkit-font-feature-settings: "liga"; 
      -moz-font-feature-settings: "liga"; 
      -ms-font-feature-settings: "liga" 1; 
      font-feature-settings: "liga"; 
      -webkit-font-variant-ligatures: discretionary-ligatures; 
      font-variant-ligatures: discretionary-ligatures; 
      -webkit-font-smoothing: antialiased; 
      -moz-osx-font-smoothing: grayscale;
  } 
  
  .tio-delete:before { 
      content: "\ed22";
  } 
  
  .input-required-icon { 
      color: #d80000; 
      vertical-align: middle; 
      margin: 0; 
      padding: 0;
  } 
  
  .bg-white { 
      background-color: #fff !important;
  } 
  
  .h-auto { 
      height: auto !important;
  } 
  
  .aspect-1 { 
      aspect-ratio: 1; 
      -o-object-fit: cover; 
      object-fit: cover;
  } 
  
  .img_area_with_preview img  { 
      width: 100%; 
      object-fit: cover; 
      height: 100%;
  } 
  
  .flex-column { 
      -ms-flex-direction: column !important; 
      flex-direction: column !important;
  } 
  
  .position-relative { 
      position: relative !important;
  } 
  
  .custom-upload-input-file-area { 
      display: block; 
      width: 100%; 
      padding: 0; 
      aspect-ratio: 1;
  } 
  
  .border-dashed-2 { 
      border: 2px dashed #00000014;
  } 
  
  .product-image-wrapper .item-2 .border-dashed-2  { 
      border-radius: 5px;
  } 
  
  .w-75 { 
      width: 75% !important;
  } 
  
  h3 { 
      margin-top: 0; 
      margin-bottom: .5rem;
  } 
  
  h3 { 
      margin-bottom: .5rem; 
      font-weight: 600; 
      line-height: 1.4; 
      color: #1e2022;
  } 
  
  h3 { 
      font-size: 1.14844rem;
  } 
  
  h3 { 
      /* color: #1e2022; */
  } 
  
  h3 { 
      color: var(--title-color); 
      line-height: 1.2;
  } 
  
  a { 
      color: #377dff; 
      text-decoration: none; 
      background-color: transparent;
  } 
  
  .custom_upload_input .delete_file_input_css  { 
      content: ""; 
      position: absolute; 
      top: 20px; 
      right: 20px; 
      width: 30px; 
      height: 30px; 
      font-size: 15px; 
      justify-content: center; 
      align-items: center; 
      display: none; 
      cursor: pointer; 
      color: red; 
      border: 1px solid red; 
      z-index: 10;
  } 
  
  .custom_upload_input .delete_file_input_css:not(.d--none)  { 
      display: flex;
  } 
 